body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p{
  padding: 0px;
  margin: 0px;
}

#root{ 
  flex-direction: column;
}
input{
  font-family: monospace;
}
.RouterWrapper{
  flex-grow: 1;
  max-height: calc(100% - 115px);
}
div{
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 1px solid #dad9df;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c2c0c8;
  border-radius: 3px;
}