.footer-wrapper, .header-wrapper{ 
    justify-content: space-between;
    padding: 15px 20px;
    vertical-align: middle;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 7px 2px #ebe9e9;
}
.footer-wrapper{
    box-shadow: none;
}
.header-inner-wrapper{
    justify-content: center;
    flex-direction: column; 
}

.auth-btn{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background-color: #f3f3f3;
}