
.sub-view-wrapper{
    padding-top: 10px;
    overflow-y: auto;
    flex-grow: 1;
    flex-direction: column;
}
.scraper-basicInfo-wrapper{
    flex-direction: row;
    /* max-width: 700px; */
    justify-content: center;
}

.scraper-add-dataPoint-wrapper{
    padding:10px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}