
.sub-view-wrapper{
    padding: 10px;
    overflow-y: auto;
}

.scraper-data-point-wrapper{
    padding: 10px;
    border: 1px solid #ebebeb;
    margin: 20px 0;
    box-shadow: -1px 1px 17px 3px #f7f7f7;
}


.scraper-data-point{
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
    justify-content: space-between;
    box-shadow: -1px 1px 11px 2px #f7f7f7;
    padding: 0 0 10px 10px;
}